:root {
  --accent-color: #0ea5e9;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* Body Styling */

.work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 5%;
}

/* Footer Styling */

footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  bottom: 0;
  background-color: var(--accent-color);
}

.contact-container {
  padding-right: 5%;
}

.contact-description,
.contact-header,
.contact-address,
.phone-info {
  padding: 3%;
  color: white;
  font-size: 18px;
}

.contact-header {
  font-family: "Playfair Display", sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

.email-info,
.phone-info {
  display: flex;
  align-items: center;
}

.email-icon,
.phone-icon {
  width: 5%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
}

.email-info {
  color: white;
  font-size: 18px;
  padding-left: 3%;
}

.email,
.phone-num {
  padding-left: 10px;
}

.footer-social-links {
  padding-top: 10%;
  padding-left: 3%;
  color: white;
  font-size: 18px;
}

i {
  color: black;
}

.footer-link {
  font-size: 30px;
  text-decoration: none;
}

#footer-linkedin {
  padding: 5%;
}

.footer-image {
  width: 60%;
}
