:root {
  --accent-color: #0ea5e9;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* Body Styling */

.work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 3%;
  gap: 5%;
  border: 1px solid red;
}

.work-header {
  font-family: "Playfair Display", sans-serif;
}

.project {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-image {
  background-color: red;
  width: 100%;
  height: 150px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5%;
  font-family: "Playfair Display", sans-serif;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

a {
  text-decoration: none;
}

.external-link {
  width: 20px;
}

.project-description {
  padding-bottom: 20%;
  padding-left: 5%;
}

/* Footer Styling */

footer {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  background-color: var(--accent-color);
}

.contact-container {
  padding-right: 5%;
}

.contact-description,
.contact-header,
.contact-address,
.phone-info {
  padding: 3%;
  color: white;
  font-size: 18px;
}

.contact-header {
  font-family: "Playfair Display", sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

.email-info,
.phone-info {
  display: flex;
  align-items: center;
}

.email-icon,
.phone-icon {
  width: 5%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
}

.email-info {
  color: white;
  font-size: 18px;
  padding-left: 3%;
}

.email,
.phone-num {
  padding-left: 10px;
}

.footer-social-links {
  padding-top: 10%;
  padding-left: 3%;
  color: white;
  font-size: 18px;
}

i {
  color: black;
}

.footer-link {
  font-size: 30px;
  text-decoration: none;
}

#footer-linkedin {
  padding: 5%;
}

.footer-image {
  width: 60%;
}
